# Exploring a Weather Dataset

A [dataset](./Dataset/nyc_weather.csv) is shared with you and you need to answer following questions 
 - What is the maximum temperature ?
 - On which days there was some rain ?
 - What is average wind speed ?

## Python Code

# Introducing Pandas

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("./Dataset/nyc_weather.csv")
df.head(10)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109

In [ ]:
# df=pd.read_excel("./Dataset/nyc_weather.xls","sheet1")

What is maximum temperature ?

In [ ]:
df["Temperature"].max()

On which days there was some rain ?

In [ ]:
df["EST"] [df["Events"]=="Rain"]

What is average wind speed ?

In [ ]:
df["WindSpeedMPH"].mean()

In [ ]:
df.describe()

### Suppose I need data for the temperature greater than 30

In [ ]:
df[df["Temperature"]>=30]

### Suppose I need data for the temperature greater than 30 and Humidity less than 50

In [ ]:
df[ (df["Temperature"]>=30) & (df["Humidity"]<=50)]

If I need entire row data when the DewPoint was **Maximum**

In [ ]:
df[df['DewPoint']==df.DewPoint.max()]

In [ ]:
df['EST'][df['DewPoint']==df.DewPoint.max()]

In [ ]:
df[['EST','Temperature']][df['DewPoint']==df.DewPoint.max()]

## Group by functionality of Pandas

A datset called **weather_by_cities.csv** is shared with you and you need to answer following questions 
 - What is maximum temperature in each of the cities ?
 - Find average wind speed per city ?

In [ ]:
df=pd.read_csv("./Dataset/weather_by_cities.csv")
df

In [ ]:
g=df.groupby("city")

<img src="Images/group_by_cities.png" width="120%">

In [ ]:
 g.get_group("mumbai").max()

In [ ]:
dd=g.get_group("new york")
dd

What if you need to find the **Max temperature ** for all three cities ?

In [ ]:
g.max()

The process is called as split apply and combine

<img src="Images/split_apply_combine.png" width="120%">